<div class="admin">
  <button
    nz-button
    style="margin-bottom: 15px;"
    (click)="goBack()"
  >
    Return to home
  </button>
  <button
    nz-button
    style="margin-left: 15px;"
    (click)="handleSync()"
    [nzLoading]="syncLoading"
  >
    Sync to remote
  </button>
  <button
    nz-button
    style="margin-left: 15px;"
    (click)="handleReset()"
  >
    Reset to Initial Data
  </button>

  <div class="content">
    <p><b>1、After configured all data, click “Sync to remote”. You can drag data to change orders</b></p>
    <p><b>2、Website category will need manual maintenance, <a [href]="gitRepoUrl + '/edit/main/data/tag.json'" target="_blank">Click Edit</a></b></p>
    
    <div class="logo-wrapper">
      <label id="file">
        <img [src]="LOGO_CDN" alt="" class="logo">
        <p style="white-space: nowrap; margin-top: 5px;">
          {{ uploading ? 'uploading...' : 'Change LOGO(only PNG)' }}
        </p>
        <input
          type="file"
          name="file"
          (change)="onLogoChange($event)"
          accept="image/png"
        >
      </label>
    </div>

    <div class="book-wrapper">
      <label id="file">
        <img src="assets/img/bookmark.svg" alt="" class="logo">
        <p style="white-space: nowrap; margin-top: 5px;">Import from Chrome Bookmark</p>
        <input
          type="file"
          name="file"
          (change)="onBookChange($event)"
          accept="text/html"
        >
      </label>
    </div>
  </div>

  <nz-tabset *ngIf="isLogin" [nzSelectedIndex]="tabActive" (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab nzTitle="Manage Level 1 Category">
      <button nz-button nzType="primary" (click)="toggleCreateModal()">Add Category</button>
      <nz-table #basicTable [nzData]="websiteList" [nzShowPagination]="false" style="margin-top: 15px;">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Category Name</th>
            <th>Private</th>
            <th>Created Time</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropOne($event)">
          <tr *ngFor="let data of websiteList; let idx = index" cdkDrag>
            <td>
              <app-logo
                [src]="data.icon"
                [name]="data.title"
              >
              </app-logo>
            </td>
            <td>{{ data.title }}</td>
            <td>
              <i *ngIf="data.ownVisible" nz-icon nzType="check" nzTheme="outline"></i>
            </td>
            <td>{{ data.createdAt }}</td>
            <td>
              <a (click)="handleEditBtn(data, idx)">Edit</a>
              <a
                nz-popconfirm
                nzPopconfirmTitle="It will delete all data under this category, are you sure?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="handleConfirmDelOne(idx)"
              >
                <a nz-button nzType="link" nzDanger>Delete</a>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Manage Level 2 Category">
      <nz-select
        [ngModel]="oneSelect"
        nzShowSearch
        nzPlaceHolder="Please choose Level 1 Category"
        (ngModelChange)="hanldeOneSelect($event)"
        style="width: 260px;"
      >
        <nz-option
          *ngFor="let item of websiteList"
          [nzLabel]="item.title"
          [nzValue]="item.title"
        >
        </nz-option>
      </nz-select>

      <button
        nz-button
        nzType="primary"
        (click)="toggleCreateModal()"
        style="margin-left: 20px;"
      >
        Add Category
      </button>

      <nz-table #basicTable [nzData]="twoTableData" [nzShowPagination]="false" style="margin-top: 15px;">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Category Name</th>
            <th>Private</th>
            <th>Created Time</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropTwo($event)">
          <tr *ngFor="let data of twoTableData; let idx = index" cdkDrag>
            <td>
              <app-logo
                [src]="data.icon"
                [name]="data.title"
              >
              </app-logo>
            </td>
            <td>{{ data.title }}</td>
            <td>
              <i *ngIf="data.ownVisible" nz-icon nzType="check" nzTheme="outline"></i>
            </td>
            <td>{{ data.createdAt }}</td>
            <td>
              <a (click)="handleEditBtn(data, idx)">Edit</a>
              <a
                nz-popconfirm
                nzPopconfirmTitle="It will delete all data under this category, are you sure?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="handleConfirmDelTwo(idx)"
              >
                <a nz-button nzType="link" nzDanger>Delete</a>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Manage Level 3 Category">
      <nz-select
        [ngModel]="oneSelect"
        nzShowSearch
        nzPlaceHolder="Please Choose Level 1 Category"
        (ngModelChange)="hanldeOneSelect($event)"
        style="width: 200px;"
      >
        <nz-option
          *ngFor="let item of websiteList"
          [nzLabel]="item.title"
          [nzValue]="item.title"
        >
        </nz-option>
      </nz-select>

      <nz-select
        [ngModel]="twoSelect"
        nzShowSearch
        nzPlaceHolder="Please Choose Level 2 Category"
        (ngModelChange)="hanldeTwoSelect($event)"
        style="width: 200px; margin-left: 15px;"
      >
        <nz-option
          *ngFor="let item of twoTableData"
          [nzLabel]="item.title"
          [nzValue]="item.title"
        >
        </nz-option>
      </nz-select>

      <button
        nz-button
        nzType="primary"
        (click)="toggleCreateModal()"
        style="margin-left: 20px;"
      >
        Add Category
      </button>

      <nz-table #basicTable [nzData]="threeTableData" [nzShowPagination]="false" style="margin-top: 15px;">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Category Name</th>
            <th>Private</th>
            <th>Created Time</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropThree($event)">
          <tr *ngFor="let data of threeTableData; let idx = index" cdkDrag>
            <td>
              <app-logo
                [src]="data.icon"
                [name]="data.title"
              >
              </app-logo>
            </td>
            <td>{{ data.title }}</td>
            <td>
              <i *ngIf="data.ownVisible" nz-icon nzType="check" nzTheme="outline"></i>
            </td>
            <td>{{ data.createdAt }}</td>
            <td>
              <a (click)="handleEditBtn(data, idx)">Edit</a>
              <a
                nz-popconfirm
                nzPopconfirmTitle="It will delete all data under this category, are you sure?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="handleConfirmDelThree(idx)"
              >
                <a nz-button nzType="link" nzDanger>Delete</a>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Manage Website">
      <nz-select
        [ngModel]="oneSelect"
        nzShowSearch
        nzPlaceHolder="Please Choose Level 1 Category"
        (ngModelChange)="hanldeOneSelect($event)"
        style="width: 200px;"
      >
        <nz-option
          *ngFor="let item of websiteList"
          [nzLabel]="item.title"
          [nzValue]="item.title"
        >
        </nz-option>
      </nz-select>

      <nz-select
        [ngModel]="twoSelect"
        nzShowSearch
        nzPlaceHolder="Please Choose Level 2 Category"
        (ngModelChange)="hanldeTwoSelect($event)"
        style="width: 200px; margin-left: 15px;"
      >
        <nz-option
          *ngFor="let item of twoTableData"
          [nzLabel]="item.title"
          [nzValue]="item.title"
        >
        </nz-option>
      </nz-select>

      <nz-select
        [ngModel]="threeSelect"
        nzShowSearch
        nzPlaceHolder="Please Choose Level 3 Category"
        (ngModelChange)="hanldeThreeSelect($event)"
        style="width: 200px; margin-left: 15px;"
      >
        <nz-option
          *ngFor="let item of threeTableData"
          [nzLabel]="item.title"
          [nzValue]="item.title"
        >
        </nz-option>
      </nz-select>

      <button
        nz-button
        nzType="primary"
        (click)="toggleCreateWebModal()"
        style="margin-left: 20px;"
      >
        Add Website
      </button>

      <nz-table #basicTable [nzData]="websiteTableData" [nzShowPagination]="false" style="margin-top: 15px;">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Website Name</th>
            <th>Category</th>
            <th>Private</th>
            <th nzWidth="300px">Description</th>
            <th>Created Time</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="dropWebsite($event)">
          <tr *ngFor="let data of websiteTableData; let idx = index" cdkDrag>
            <td>
              <app-logo
                [src]="data.icon"
                [name]="data.name"
              >
              </app-logo>
            </td>
            <td>
              <a [href]="data.url" target="_blank">{{ data.name }}</a>
            </td>
            <td nzWidth="100px">
              <nz-tag *ngFor="let key of objectKeys(data.urls)" [nzColor]="tagMap[key].color || '#2db7f5'">
                <a [href]="data.urls[key]" target="_blank">{{ key }}</a>
              </nz-tag>
            </td>
            <td>
              <i *ngIf="data.ownVisible" nz-icon nzType="check" nzTheme="outline"></i>
            </td>
            <td>
              <pre class="desc">{{ data.desc }}</pre>
            </td>
            <td nzWidth="200px">{{ data.createdAt }}</td>
            <td nzWidth="100px">
              <a (click)="toggleCreateWebModal(); websiteDetail = data; editIdx = idx">Edit</a>
              <a
                nz-popconfirm
                nzPopconfirmTitle="Are you sure to delete?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="handleConfirmDelWebsite(idx)"
              >
                <a nz-button nzType="link" nzDanger>Delete</a>
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
</div>

<app-create-web
  [visible]="showCreateWebModal"
  (onCancel)="toggleCreateWebModal()"
  (onOk)="onOkCreateWeb($event)"
  [detail]="websiteDetail"
>
</app-create-web>

<nz-modal
  [(nzVisible)]="showCreateModal"
  [nzTitle]="isEdit ? 'Edit' : 'Add'"
  (nzOnCancel)="toggleCreateModal()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Category Name</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="Please Enter Name">
          <input formControlName="title" nz-input placeholder="Discovery Navigation" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Private</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-switch formControlName="ownVisible"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Icon</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group [nzPrefix]="prefixIcon">
            <input formControlName="icon" nz-input />
          </nz-input-group>

          <ng-template #prefixIcon>
            <app-logo [src]="iconUrl" [size]="25" *ngIf="iconUrl"></app-logo>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
