name: Build web
on:
  push:
    branches:
      - master
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.0
      with:
        persist-credentials: false
    - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

    - name: Install dependencies
        run: yarn --immutable
    - name: Install
      uses: sergioramos/yarn-actions/install@v6
      with:
        frozen-lockfile: true
    - name: Build
      run: |
        npm run build
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.TOKEN }}
        BRANCH: gh-pages
        FOLDER: dist
        
